.chatdiv{
	height:360px ;
	overflow-y: scroll;
	background: #f1f1f1;
	padding: 0px;
}

.chatdiv{

	background: #f1f1f1;
	height:400px ;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.chatdiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}

.chatdiv::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(255, 255, 255, 0.05);
}

.chatdiv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ADD8E6;
}

.sent{
	margin: 10px 0px;
	padding: 25px;
	padding-right: 20px;
	padding-left: 30px;
	background: white;
	color: black;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	min-width: 300px;
}

.sent:after {
	border-radius: 20px / 5px;
	content: '';
	display: block;
	position: absolute;
	border: 8px solid transparent;
	bottom: 9px;	
	left: auto;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid white;
	right: 0px;

}
.time {
	font-size: 10px;
	right: 10px;
	bottom: 0px;
	position: absolute;
}
#yellow {
	background: #f0ca70;
}
.received{
	margin: 10px 0px;
	padding: 25px;
	padding-left: 30px;
	background: #ADD8E6;
	color: black;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	min-width: 300px;
}

.received:after {
	border-radius: 20px / 5px;
	content: '';
	display: block;
	position: absolute;

	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ADD8E6;
	bottom: 9px;
	left: -9px;
}
#yellow:after {
	border-right: 10px solid #f0ca70;
}
.nps-promoter {
	width: 100%;
	/*position: absolute;*/
	z-index: 99999;
	border: none;
}
.nps-promoter iframe {
	position: relative;
	width: 100%;
	height: 180px;
	border: none;
}
.chatheader{
	background: #ADD8E6;
	padding: 10px;
} 

th,td{
	padding: 3px;
	border: 1px solid white;
	background: #245580;
}

.micspan {
	float: right;
	margin-right: 12px;
	margin-top: -23px;
	position: relative;
	z-index: 2;
	color: #0057a3;
	cursor:pointer;
}

.micspan_on {
	float: right;
	margin-right: 12px;
	margin-top: -23px;
	position: relative;
	z-index: 2;
	color: #fd2a2a;
	cursor:pointer;
}



